h1 {
    text-align: center;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color:grey;
}

.cell-rev {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color:lightgrey;
}

.buttons {
text-align: center;
}

h3 {
text-align: center;
color: crimson;
font-size: x-large;

}